# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore local environment files
.env
.env.local

# Ignore temporary files and cache
*.tmp
.cache
dist

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
